<h1>Job Information</h1>
<table>
	<tr>
		<th>Position Title</th>
		<td>Best Job</td>
	</tr>
	<tr>
		<th>Expected Salary</th>
		<td>$100,000</td>
	</tr>
	<tr>
		<th>Work Type</th>
		<td>Casual</td>
	</tr>
	<tr>
		<th>Start Date</th>
		<td>Today</td>
	</tr>
</table>
