<h1>Candidates</h1>
<table>
	<tr>
		<th>Name</th>
		<th>Location</th>
		<th>Skills</th>
	</tr>
	<tr>
		<td>Jessica Claire Edwards</td>
		<td>Sydney, Australia</td>
		<td>All of them</td>
	</tr>
</table>
